
@model UserModel


<!-- Form -->
<div class="flex flex-col flex-1 w-full lg:w-1/2">
   
    <div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">
        <div class="mb-5 sm:mb-8">
            <h1 class="mb-2 font-semibold text-gray-800 text-title-sm dark:text-white/90 sm:text-title-md">
                Registrarse
            </h1>
            <p class="text-sm text-gray-500 dark:text-gray-400">
                ¡Ingresa tu correo electrónico y contraseña para registrarte!
            </p>
        </div>
        <div>
            <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 sm:gap-5"> 
            </div>
            <form id="registerForm" asp-action="RegisterUser" asp-controller="Auth" method="post">
                <div class="space-y-5">
                    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
                        <!-- Username -->
                        <div class="sm:col-span-1">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
                                Nombre de Usuario<span class="text-error-500">*</span>
                            </label>
                            <input asp-for="username" type="text" name="username"
                                   placeholder="Ingresa tu nombre de usuario"
                                   class="dark:bg-dark-900 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800" />
                        </div>
                        <!-- email -->
                        <div class="sm:col-span-1">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
                                Correo Electrónico<span class="text-error-500">*</span>
                            </label>
                            <input asp-for="email" type="email" name="email"
                                   placeholder="Ingresa tu correo electrónico"
                                   class="dark:bg-dark-900 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800" />
                        </div>

                        
                    </div>
                    <!-- full_name -->
                    <div>
                        <label class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
                            Nombre Completo<span class="text-error-500">*</span>
                        </label>
                        <input asp-for="full_name" type="text" name="full_name"
                               placeholder="Ingresa tu nombre completo"
                               class="dark:bg-dark-900 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800" />
                    </div>
                    
                    <!-- phone -->
                    <div>
                        <label class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
                            Número de telefono <span class="text-error-500">*</span>
                        </label>
                        <input asp-for="phone" type="text" name="phone"
                               placeholder="Ingresa tu número de teléfono"
                               class="dark:bg-dark-900 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800" />
                    </div>
                    <!-- password -->
                    <div>
                        <label class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
                            Contraseña<span class="text-error-500">*</span>
                        </label>
                        <div x-data="{ showPassword: false }" class="relative">
                            <input asp-for="password" type="password" name="password"
                                   placeholder="Ingresa tu contraseña"
                                   class="dark:bg-dark-900 h-11 w-full rounded-lg border border-gray-300 bg-transparent py-2.5 pl-4 pr-11 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800" />
                        </div>
                    </div>
                    <!-- Button -->
                    <div>
                        <button type="submit" class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium text-white transition rounded-lg bg-brand-500 shadow-theme-xs hover:bg-brand-600">
                            Registrarse
                        </button>
                    </div>
                </div>
            </form>
            <div class="mt-5">
                <p class="text-sm font-normal text-center text-gray-700 dark:text-gray-400 sm:text-start">
                    ¿Ya tienes una cuenta?
                    <a asp-controller="Auth" asp-action="Login"
                       class="text-brand-500 hover:text-brand-600 dark:text-brand-400">Inicia Sesión</a>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/registerUser.js" asp-append-version="true"></script>
}
