USE [Kronos]
GO

CREATE PROCEDURE spGetUserByID
	@id int

AS
BEGIN
	SET NOCOUNT ON;

	SELECT
	username,
	full_name,
	phone
	from access_tbl_users
	WHERE id = @id

END


GO

CREATE PROCEDURE spUpdateUserInfo
	@id int,
	@username nvarchar(100),
	@full_name nvarchar(200),
	@phone nvarchar(30)

AS
BEGIN

	UPDATE access_tbl_users
	SET
	username = @username,
	full_name = @full_name,
	phone = @phone
	from access_tbl_users
	WHERE id = @id

END